body {
    background: url(12_col_copy.gif); center top repeat-y;
    background-size: 90%;
}
section{
    border: 1px solid #333;
    height: 10em;
}
.container{
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: 1fr auto;
    justify-content: space-between;
    grid-gap: 2% 2%;}
    /*grid-template-areas: 
    "section1"
    "section2"
    "section3"
    "section4"
    "section5"
    "section6"
    "footer"*/


.section1 {
    grid-column: col-start 1 / -1;
    }
.section2 {
    grid-column: col-start 1 / -1;
    }
.section3 {
    grid-column: col-start 1 / -1;
        }  
    
.section4 {
    grid-column: col-start 1 / -1;
    }
.section5 {
     grid-column: col-start 1 / -1;
}
.section6 {
    grid-column: col-start 1 / -1;
    }
.footer {
    grid-column: col-start 1 / -1;
}

/* lös uppgiften med grid template areas, för att kunna göra et deklare areas.*/


/*.section1 {
    grid-area: section1;
}
.section2 {
    grid-area: section2;
}
.section3 {
    grid-area: section3;
}
.section4 {
    grid-area: section4;
}
.section5 {
    grid-area: section5;
}
.section6 {
    grid-area: section6;
}*/


.footer {
   width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: 1fr auto;
    justify-content: space-between;
    grid-gap: 2% 2%;
    border: 1px solid #333;
}


.footer1 {
    grid-column: col-start 1 / -1;
    }
.footer2 {
    grid-column: col-start 1 / -1;
       }
.footer3 {
    grid-column: col-start 1 / -1;
    }
.footer4 {
    grid-column: col-start 1 / -1;
    }




@media (min-width: 768px){

    .section1 {
        grid-column: col-start 1 / -1;
        }
    .section2 {
        grid-column: col-start 1 / 5;
        }
    .section3 {

        grid-column: col-start 5 / 9;
            }  
        
    .section4 {
        grid-column: col-start 9 / 13;
        }
    .section5 {
         grid-column: col-start 1 / 7;
    }
    .section6 {
        grid-column: col-start 7 / 13;
        }
    .footer {
        grid-column: col-start 1 / -1;
    }

.footer1 {
        grid-column: col-start 1 / 7;
        }
.footer2 {
    grid-column: col-start 7 / 13;
}
.footer3 {
    grid-column: col-start 1 / 7;
    }
.footer4 {
    grid-column: col-start 7 / 13;
    }
}

@media (min-width: 960px) {

    .section1 {
        grid-column: col-start 1 / -1;
        }
    .section2 {
        grid-column: col-start 1 / 4;
        }
    .section3 {

        grid-column: col-start 4 / 10;
            }  
        
    .section4 {
        grid-column: col-start 10 / 13;
        }
    .section5 {
         grid-column: col-start 1 / 9;
    }
    .section6 {
        grid-column: col-start 9 / 13;
        }
    .footer {
        grid-column: col-start 1 / -1;
    }

.footer1 {
        grid-column: col-start 1 / 4;
        }
.footer2 {
    grid-column: col-start 4 / 7;
}
.footer3 {
    grid-column: col-start 7 / 10;
    }
.footer4 {
    grid-column: col-start 10 / 13;
    }
}

@media (min-width: 1200px){

    .section1 {
        grid-column: col-start 1 / -1;
        }
    .section2 {
        grid-column: col-start 1 / 3;
        }
    .section3 {

        grid-column: col-start 3 / 11;
            }  
        
    .section4 {
        grid-column: col-start 11 / 13;
        }
    .section5 {
         grid-column: col-start 1 / 10;
    }
    .section6 {
        grid-column: col-start 10 / 13;
        }
    .footer {
        grid-column: col-start 1 / -1;
    }